{% extends "layout.jinja2" %}

{% block content %}
    <h1>Application - QuoteIt Lib Application Example</h1>

    <a href="/quotes">/quotes</a><br>
    <a href="/quotes/random">/quotes/random</a><br>
    <a href="/quotes/1">/quotes/{num}</a><br>
    
    <h1>Access</h1>
    <a href="/access">/access</a><br>
    <a href="/session">/session</a><br>

{% endblock content %}
