{% extends "layout.jinja2" %}

{% block content %}
    <h1>Quote Detail</h1>

    {% if quote %}
        <ul>
            <li>{{ quote }}</li>
        </ul>
    {% else %}
        Ops, quote not found!
    {% endif %}

{% endblock content %}
