{% extends "layout.jinja2" %}

{% block content %}
    <h1>Quotes</h1>

    <ul>
        {% for quote in quotes %}
            <li>{{ quote }}</li>
        {% endfor %}
    </ul>
{% endblock content %}
